
* {
    box-sizing: border-box;
  }

body {
    margin:50px;
    font-family: Helvetica;
    justify-content: center;
    background-color: rgba(19, 84, 85); 
}

main {
    display: grid;
    font-size: 30px;
    text-align: center;
    grid-template-columns: 2fr 2fr;
}


.header {
    grid-column: span 2;
}

.leftContainer {
    background-color: #f1f1f1;
    border: solid red 2px;
    padding: 10px;
  }

.boardGame {
    margin: 20px;
}

.rightContainer {
    background-color: dodgerblue;
    border: solid black 2px;
    padding: 10px;
    text-align: left;
  }

.peg {
    height: 60px;
    width: 60px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: left;
  }


.code {
    min-width: 60px;
    min-height: 60px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

  #buttonPlay{
    display: block;
    width: 75%;
    height: 30px;
    border-radius: 25%;
    background-color: blue;
    color: white;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 28px;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;
  }

  #buttonSubmit{
    display: block;
    width: 75%;
    height: 30px;
    color: blue;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 28px;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;
  }

  #buttonReveal{
    display: block;
    height: 30px;
    color: blue;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 28px;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;
  }