
* {
    box-sizing: border-box;
  }

body {
    margin:50px;
    font-family: Helvetica;
    justify-content: center;
    background-color: rgba(19, 84, 85); 
}

main {
    display: grid;
    font-size: 30px;
    text-align: center;
    grid-template-columns: 2fr 2fr;
}


.header {
    grid-column: span 2;
}

.leftContainer {
    background-color: #f1f1f1;
    border: solid red 2px;
    padding: 10px;
    min-width: 400px;
    max-width: 600px;    
  }

.boardGame {
    margin: 20px;
}

.peg {
    height: 60px;
    width: 60px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


.code {
    min-width: 75px;
    min-height: 60px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    border: ridge green 5px;
}

.rightContainer {
    padding: 10px;
    text-align: center;
    align-items: center;
    min-width: 400px;
}

  #buttonPlay{
    display: block;
    width: 75%;
    height: 50px;
    border-radius: 25%;
    background-color: blue;
    color: white;
    margin: 20px auto 20px auto;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;
  }

  #buttonSubmit{
    display: block;
    width: 75%;
    height: 50px;
    border-radius: 25%;
    background-color: blue;
    margin: 100px auto 20px auto;
    color: white;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;
  }

  #buttonReveal{
    display: block;
    width: 75%;
    height: 50px;
    border-radius: 25%;
    background-color: blue;
    margin: 50px auto 20px auto;
    color: white;
    font-size: 18px;
    border: solid black 2px;  
    cursor: pointer;

  }